In [1]:
import pandas as pd
import numpy as np

In [2]:
empfile = "C:\Users\jc4673\Documents\Columbia\NETS_Clients2013ASCI\NETS2013_Emp.txt"

In [3]:
emp = pd.read_table(empfile)

In [4]:
emp.set_index('DunsNumber', inplace=True)

In [5]:
empcols = [x for x in emp.columns.tolist() if x[3] in(['9', '0', '1'])]
c_cols = [x for x in emp.columns.tolist() if x[3] == 'C']

In [6]:
nums = emp[empcols]
codes = emp[c_cols]

In [7]:
nums.columns = range(1990, 2014)
codes.columns = range(1990, 2014)

In [8]:
nums = nums.stack()
codes = codes.stack()

nums.rename('NumEmp', inplace=True)
codes.rename('EmpC', inplace=True)

DunsNumber
1000009     1990    0.0
            1991    0.0
            1992    0.0
            1993    0.0
            1994    0.0
            1995    0.0
            1996    0.0
            1997    0.0
            1998    0.0
            1999    0.0
            2000    0.0
            2001    0.0
            2002    0.0
            2003    0.0
            2004    0.0
            2005    0.0
            2006    0.0
            2007    0.0
1000012     2001    2.0
1000020     2001    2.0
            2002    3.0
            2003    3.0
            2004    0.0
            2005    0.0
            2006    0.0
            2007    0.0
            2008    0.0
1000038     1999    3.0
            2000    3.0
            2001    0.0
                   ...
969999960   2000    3.0
            2001    0.0
            2002    0.0
            2003    0.0
969999965   2012    0.0
            2013    0.0
969999973   2012    0.0
            2013    0.0
969999981   2011    3.0
            2012    0.0
            2013    0.0
969999994   1998    2.0
            1999    3.0
            2000    3.0
            2001    3.0
            2002    3.0
            2003    3.0
            2004    3.0
            2005    3.0
            2006    3.0
            2007    3.0
            2008    3.0
            2009    3.0
            2010    2.0
            2011    2.0
            2012    2.0
            2013    2.0
969999999   2011    3.0
            2012    2.0
            2013    2.0
Name: EmpC, dtype: float64

In [9]:
emp = pd.concat([nums, codes], axis=1)

In [11]:
emp.to_hdf("C:\Users\jc4673\Documents\Columbia\NETS2013_Wrangled\NETS2013_Other.h5", 'Emp')